@import 'variables.styl'
@import 'fonts.styl'
@import 'general.styl'

body
  background-color $gray
  font-family 'RobotoCondensed-Regular'
  font-size 90%
  overflow-y scroll

*, *:before, *:after
  box-sizing border-box

.main-wrapper
  width 80%
  margin 0 auto
  max-width 1080px

.main-header
  display flex
  align-items center
  justify-content space-between
  border-bottom 10px solid $green
  background-color $white

.autoform-add-item
  &:before
    content: '+'

.main-header-nav
  flex 1
  display flex
  justify-content flex-end
  align-items center
  font-size: 80%
  .nav-btn
    display inline-block
    padding 11px 15px
    text-decoration none
    color $dark-gray
    text-transform uppercase
    background-color $light-gray
    cursor pointer
    &:hover
      color $green

.ui.dropdown
  position relative
  &:hover > ul.menu
    opacity 1
    visibility visible
  > ul.menu
    width calc(100% + 2px)
    position absolute
    left -1px
    padding 0
    border-top 1px solid rgba(154, 166, 178, 0.11)
    background-color $light-gray
    list-style none
    border 2px solid #fff
    opacity 0
    visibility hidden
    z-index 10
    li
      margin-left 0
    a
      display block
      padding 13px 7px
      color $dark-gray
      text-decoration none
      font-size 110%
      cursor pointer
      &:hover
        background-color rgba(154, 166, 178, 0.11)
        color $green

.main-nav-list
  display flex
  flex 1
  list-style none
  justify-content flex-end
  li
    margin-left 2%

.container
  padding 1.5% 3%

.main-logo
  display block
  width 8%
  color $green

.header-sign-list
  display flex
  list-style none
  li:last-child
    border-left 1px solid #e0e2e4

.not-found-wrap
  font-size 150%
  text-align center;
  color $dark
  .status-code
    display block

.registration-types .item-dropdown
  font-size 80%

.btn.btn-primary
  padding 1% 2%
  background-color $dark
  color $white
  border none
  border-radius 4px
  font-size 90%
  &:hover
    background-color #4c5e6f

.btn-light-gray
  padding 8px
  border none
  display inline-block
  background-color $light-gray
  color $dark-gray
  text-decoration none
  cursor pointer
  &:hover
    background-color #edecec

.card-sect
  background-color $white
  border-radius 4px
  box-shadow 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8
  form > .panel-default:not(:first-of-type)
    padding-top 2%
    margin-top 2%
    border-top 1px solid $gray
  .form-group
    margin-bottom 2%
    label
      display block
      margin-bottom 3px
      color $dark
    input, select, textarea
      display block
      width 100%
      height 36px
      border 3px solid $gray
      border-radius 4px
      padding 0 1%
      background-color transparent
      &:focus
        outline none
    textarea
      padding 5px
      height 150px
      resize none

.card-inner-sect
  padding 0 2% 2% 2%
  margin-bottom 2%
  &.empty-title
    padding-top 2%

.u-profile-edit-sect
  padding 2%

.card-sect-title
  padding 2%
  border-top-right-radius 4px
  border-top-left-radius 4px
  background-color $dark
  color $white
  font-size 98%
  a
    color inherit
    text-decoration none


.basic-link
  color $green

.panel-body
  > .help-block
    display none

.form-group.has-error, .basic-form
  > .help-block
    display block
    padding 0.5%
    background-color rgba(188, 0, 0, 0.14)
    margin-top 1%
    border-radius 2px
    font-size 84%
    color rgba(96, 125, 139, 0.58)

.message-state-value
  text-align center

.basic-form .help-block {
  margin-bottom 1%
}


// User account profile

.user-account-profile-wrap,
.service-account-wrapp
  display flex

.user-a-profile-sidebar
  width 25%
  margin-right 2%

.user-a-profile-photo
  max-width 100%
  height auto
  border-radius 50%

.profile-sect
  padding 4%
  margin-bottom 5%

.main-content-wrap-u-p
  flex 1

.user-profile-title,
.card-title-w-m
  padding 4%
  margin 0

.profile-acts-btns
  display flex

.profile-edit-btn
  display block
  flex 1
  text-align center
  &:not(:first-child)
    margin-left 2%

.user-a-profile-photo-wrap
  position relative
  border-top-left-radius 0
  border-top-right-radius 0

.profile-full-name
  margin-top 0
  padding 2%
  font-weight normal

.upload-u-profile-photo
  input[type="file"]
    display none

.upload-progress
  height 5px
  position absolute
  bottom 0
  left 0
  background-color $dark-gray

.service-account-sidebar
  width 25%
  margin-left 2%

.service-account-content
  flex 1

.service-m-photo-i-wrapp
  padding 4%
  position relative

.service-main-photo
  max-width 100%
  height auto
  display block

.service-clients-list
  list-style none
  display flex
  flex-wrap wrap
  .service-clients-item
    padding 4%
    width 33.3333%
    text-align center
    cursor pointer
    &:hover
      .service-client-name
        text-decoration underline

.service-clients-item-img
  img
    max-width 100%
    height auto

.service-client-name
  font-size 80%
  text-decoration none
  color $dark-gray

.service-container
  padding 2%
  margin-bottom 2%

.service-meta-info
  color $dark

.service-meta-info-title,
.user-meta-info-title
  padding-bottom 10px
  border-bottom thin solid $gray
  margin-bottom 10px

.toggle-service-info-list
  display inline-block
  margin-right 2%
  padding 8px
  color $dark-gray
  background-color $light-gray
  cursor pointer

.info-service-list-wrapp
  display flex
  align-items flex-start

.inform-service-list,
.inform-car-item
  display flex
  flex-wrap wrap
  dt, dd
    width 50%
    margin 5px 0

.basic-form
  display block
  .form-input
    display block
    width 100%
    height 35px
    margin-bottom 2%
    border-radius 3px
    border 2px solid $gray
    padding 0 5px
  .form-textarea
    height 100px
    padding 5px
    resize none

.addition-photos
  display flex
  > *
    flex 1
    img
      width 100%
      height auto
    &:not(:first-child)
      margin-left 2%

.load-addition-photo-service
  font-size 200%
  background-color $light-gray
  border-radius 3px
  display flex
  align-items center
  justify-content center
  cursor pointer

.service-news-item
  padding 10px 0
  &:not(:first-of-type)
    border-top thin solid $light-gray

.service-cnt-banner
  position relative
  text-align center
  img
    display block

.update-service-banner-btn
  position absolute
  padding 10px
  right 0
  top 0
  font-size 150%
  background-color $green
  color $white
  border none
  cursor pointer

.service-gallery-wrapp
  display flex
  flex-flow row wrap
  .service-gallery-item
    width 16.6667%
    padding 0.5%

.user-cars-list-title
  display flex
  padding 2% 0
  justify-content space-between
  border-bottom thin solid $gray
  h3
    margin 1% 0

.empty-cars-list-title
  display block
  font-size 170%
  text-align center

.inform-car-item
  dt, dd
    border-bottom thin solid $gray
    padding 0.2% 0

.user-car-item
  position relative

.car-item-btn
  padding 7px
  color $dark
  background-color $gray
  border none
  border-radius 3px
  outline none

.car-item-acts-btn
  position absolute
  top 0
  right 0

.subscribe-btn
  display block
  text-align center

.post-meta-data
  display flex
  align-items center
  justify-content space-between
  .post-info
    font-size 80%
  .post-author-name
    display inline-block
    padding-right 6px
    border-right 1px solid $dark
    margin-right 6px
    color $dark

.news-card-user-header
  display flex
  align-items center
  justify-content space-between

.user-meta-info-title
  flex 1

.news-subscriber-length
  display inline-block
  padding 7px
  margin-left 2%
  background-color $blue
  color $white

.service-price-list
  .list-group
    list-style none