<template name="ChangePasswordLayout">
  <section class="card-sect">
    <h3 class="card-sect-title">Змінити пароль</h3>
    <div class="card-inner-sect">
      <form class="basic-form" id="reset-password">
        <input type="password" class="form-input" placeholder="Поточний пароль" name="currentPassword">
        {{#if errorReason}}<span class="help-block">{{errorReason}}</span>{{/if}}
        <input type="password" class="form-input" placeholder="Новий пароль" name="newPassword">
        <button class="btn btn-primary">Змінити</button>
      </form>
    </div>
  </section>
</template>