<template name="AdditionPhotosLayout">
  <section class="addition-photos">
    {{#each overviewImages}}
      <a href="{{photoConvertor path}}" target="_blank" class="swipebox ser-addition-photo-wrap">
        <img draggable="false" src="{{photoConvertor path}}" alt="">
      </a>
    {{/each}}
    <input class="none" type="file" id="serviceUploadAdditionPhoto">
    <label for="serviceUploadAdditionPhoto" class="load-addition-photo-service">
      <i class="fa fa-plus"></i>
    </label>
  </section>
</template>